body {
  background: url("http://i.imgur.com/db8lObZ.png") right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

div {
  text-align: center;
  width: 100%;
  margin: auto;
}

h1 {
  color: #e5e5e5;
  font-size: 5em;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0px;
}

h3 {
  color: #e5e5e5;
  font-size: 1.2em;
  font-family: 'Lora', serif;
}

#number, #submit {
  padding-left: 8px;
  border: 0px;
  border-radius: 6px;
  width: 200px;
  height: 30px;
}

#donate {
  margin-top: 20%;
}

#error {
  margin: auto;
  color: #e52121;
  font-size: 1em;
  font-family: 'Lora', serif;
}

script {
  margin:15px;
  display:block;
}

a {
  text-decoration: none;
  color: #458abe;
  font-family: 'Roboto', sans-serif;
}

#beg {
  color: #e5e5e5;
  font-size: 1em;
  font-family: 'Lora', serif;
}

#submit {
  background: -webkit-linear-gradient(top, #7db9e8 0%,#399ace 0%,#2989d8 33%,#1e5799 100%);  margin: auto;
  margin-top: 12px;
  display: block;
  width: 140px;
  height: 35px;
  color: white;
  font-size: .8em;
  font-weight: bold;
}

#head {
  margin-top: 10%;
  margin-bottom: 3%;
}
