{% load static from staticfiles %}

<html>
  <head>
    <meta name="viewport" content="width=device-width,height=device-height initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <title>WAVY</title>
  </head>
  <body>
    <!-- -->
    <div id="head">
      {% if error_message %}<p id="error"><strong>{{ error_message }}</strong></p>{% endif %}

      <h1>Wavy</h1>
      <h3>Give the gift of loopiness.</h3>
    </div>

    <div id="form">
      <form action="{% url 'send' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="number" value="" placeholder="Enter phone number" id="number">
        <input type="submit" value="The Wave Is Here" id="submit">

        <p id="beg">
          Only works in US/Canada ATM, should be working internationally by tomorrow.
        </p>
      </form>

    </div>

  </body>
</html>
