{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% load static from staticfiles %}

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <title>WAVY</title>
  </head>
  <body>
    <div id="head">
      <h1>Wavy</h1>
      <h3>Give the gift of loopiness.</h3>
    </div>

    <div id="form">
      <form action="/send/" method="POST">
        <input type='hidden' name='csrfmiddlewaretoken' value='XGHUMsy7hGE6QoUW89byQyDooscexw9t' />
        <input type="text" name="number" value="" placeholder="Enter phone number">
        <input type="submit" value="The Wave Is Here" id="submit">
      </form>
    </div>

  </body>
</html>
